appIcon ICON "wxwin.ico"

#include <windows.h>
#include "wx/msw/rcdefs.h"
#include "appversion.h"

#define xstr(s) str(s)
#define str(s) #s
#define VERSION_STRING xstr(VERSION_MAJOR.VERSION_MINOR.VERSION_REV.VERSION_BUILD)

// see "about isolated applications" topic in MSDN
#ifdef ISOLATION_AWARE_ENABLED
#define wxMANIFEST_ID 2
#else
#define wxMANIFEST_ID 1
#endif

#if defined(WX_CPU_AMD64)
wxMANIFEST_ID 24 "wx/msw/amd64.manifest"
#elif defined(WX_CPU_IA64)
wxMANIFEST_ID 24 "wx/msw/ia64.manifest"
#elif defined(WX_CPU_X86)
wxMANIFEST_ID 24 "wx/msw/wx.manifest"
#endif

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VERSION_MAJOR,VERSION_MINOR,VERSION_REV,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040c04b0"
        BEGIN
            VALUE "FileDescription", DESCRIPTION
            VALUE "FileVersion", VERSION_STRING
            VALUE "InternalName", PRODUCTNAME
            VALUE "LegalCopyright", COPYRIGHT
            VALUE "OriginalFilename", PRODUCTNAME
            VALUE "ProductName", PRODUCTNAME
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x40c, 1200
    END
END
